<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" type="text/css" href="<?php echo STATICS_CDN_CSS?>common.css">
    <link rel="stylesheet" type="text/css" href="<?php echo STATICS_CDN_CSS?>style.css">
    <link rel="stylesheet" type="text/css" href="http//at.alicdn.com/t/font_2d8ppvyrs45wb3xr.css">
</head>
<body>
<div class="_nav"></div>
<nav>
    <ul>
        <li>
            <a href="" class="active" title="">首页</a>
        </li>
        <li>
            <a href="" title="">PHP</a>
        </li>
        <li>
            <a href="" title="">H5</a>
        </li>
        <li>
            <a href="" title="">Javascript</a>
        </li>
        <li>
            <a href="" title="">Node.js</a>
        </li>
        <li>
            <a href="" title="">iOS</a>
        </li>
        <li>
            <a href="" title="">Java</a>
        </li>
        <li>
            <a href="" title="">Swift</a>
        </li>
        <li>
            <a href="" title="">Mysql</a>
        </li>
        <li>
            <a href="" title="">OC</a>
        </li>
        <li>
            <a href="" title="">Android</a>
        </li>
    </ul>
    <div class="more"></div>
</nav><!-- /header -->
<aside>
    <ul>
        <li>
            <a href="" class="active" title="">首页</a>
        </li>
        <li>
            <a href="" title="">PHP</a>
        </li>
        <li>
            <a href="" title="">H5</a>
        </li>
        <li>
            <a href="" title="">Javascript</a>
        </li>
        <li>
            <a href="" title="">Node.js</a>
        </li>
        <li>
            <a href="" title="">iOS</a>
        </li>
        <li>
            <a href="" title="">Java</a>
        </li>
        <li>
            <a href="" title="">Swift</a>
        </li>
        <li>
            <a href="" title="">Mysql</a>
        </li>
        <li>
            <a href="" title="">OC</a>
        </li>
        <li>
            <a href="" title="">Android</a>
        </li>
    </ul>
</aside>
<article>
    <div class="content">
        <div class="sections">

            <section>
                <div class="title">
                    <h2>
                        <a href="">这里是标题</a>
                    </h2>
                </div>
                <div class="acticle-content">
                    <p>
                        这里是一片文章这里是一片文章这里是一片文章这里是一片文章这里是一片文章这里是一片文章这里是一片文章这里是一片文章这里是
                        这里是一片文章这里是一片文章这里是一片文章这里是一片文章这里是一片文章这里是一片文章这里是一片文章这里是一片文章这里是
                        这里是一片文章这里是一片文章这里是一片文章这里是一片文章这里是一片文章这里是一片文章这里是一片文章这里是一片文章这里是
                    </p>
                </div>
                <div class="toolbar">
                    <span>
                        <i class="iconfont icon">&#xe601;</i>Peter
                    </span>
                    <span>
						<i class="iconfont icon">&#xe600;</i>2016-11-19 17:15
					</span>
                    <span>
						<i class="iconfont icon">&#xe690;</i>2322
					</span>
                    <span>
							<i class="iconfont icon">&#xe6af;</i>2322
					</span>
                    <span>
							<i class="iconfont icon">&#xe63c;</i>
						</span>
                    <span>
							<i class="iconfont icon">&#xe6a5;</i>
						</span>
                </div>
            </section>
        </div>
        <aside>
            <div class="aside-title">Tags</div>
            <div class="aside-content tags">
                <h3> <a href="">PHP</a> </h3>
                <h3><a href="">H5</a></h3>
                <h3><a href="">Javascript</a></h3>
                <h3><a href="">Node.js</a></h3>
                <h3><a href="">iOS</a></h3>
                <h3><a href="">Java</a></h3>
            </div>
        </aside>
    </div>
    <footer>
        Copyright 2016 - Now. Create by Peter!
    </footer>
</article>
<script src="<?php echo STATICS_CDN_JS?>common.js"></script>
</body>
</html>